<tr id="<%= dom_id(message) %>">
  <td><%= message.id %></td>
  <td><%= message.topic %></td>
  <td><%= message.payload %></td>
  <td><%= message.received_at.strftime("%Y-%m-%d %H:%M:%S") || "-" %></td>
</tr>
